<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VoandoAlto.com</title>
    <link rel="Stylesheet" href="./static/style.css">
</head>
<body>
    <header id="heading">
        <div class="prin">
            <a href="#" class="entrar">&#9750; Login</a>
        <h1 class="h1">
            <a href="#">VoandoAlto.com</a>
        </h1>   
        <nav>
            <ul>
                <li><a href="#">&#9969;Pacotes</a></li>
                <li><a href="#">&#9992;Voos</a></li>                
                <li><a href="#">&#9963;Hoteis</a></li>
            </ul>
        </nav>
        </div>

        <div class="info container-box">
            <div class="content-box">
            <h2 class="h2">Busque seu Pacote de viagem</h2>
            <nav class="checkboxes">
                <ul class="ul2">
                    <li><input type="checkbox" class="int"> Ida e volta</li>
                    <li><input type="checkbox" class="int"> Apenas ida</li>
                </ul>    
            </nav>
            <form id="inputs">
                <p class="info2"> Para onde você vai?</p>
                <input type="text" class="pesquisa" placeholder="Destino" >
                <p class="info2"> Data de ida</p>
                <input type="date" class="data" placeholder="ida">
                <p class="info2">Data de volta</p>
                <input type="date" class="data" placeholder="volta">
            </form>
            </div>
        </div>
    </header>  

    <h1 class="h2novo">&#9969;Pacotes mais vendidos</h1>



    <div id="Infos2">
        <div class="content2-box">
        
        <header id="heading2">
            <div class="pacotes">
                <form id="texts">
                    <h3><a href="#" class="maceio">Pacote de viagem Maceió</a></h3>
                    <p><a href="#" class="diarias" >&#8226;Passagem Aérea +<b>7</b> diárias</a></p>
                    <p><a href="#" class="diarias" >&#8226;Viagem para <b>2023</a></p>
                </form>
            </div>
            <div class="informação">
                <form>
                    <p><a href="#" class="QCF">&#128504;Quarto</a></p>
                    <p><a href="#" class="QCF">&#128504;Café da Manhâ</a></p>
                    <p><a href="#" class="valor">R$<b>1.099</b></a></p>
                    <p><a href="#" class="pagamento">Em até 15x no cartão</a></P>
                </form>
            </div>
        </header>

        <header id="heading3">
            <div class="pacotes2">
                <form id="texts">
                    <h3><a href="#" class="PraiaDosCarneiros">Pacote de viagem<br> Praia dos Carneiros</a></h3>
                    <p><a href="#" class="diarias2" >&#8226;Passagem Aérea +<b>5</b> diárias</a></p>
                    <p><a href="#" class="diarias2" >&#8226;Viagem para <b>2022</a></p>
                </form>
            </div>
            <div class="informação">
                <form>
                    <p><a href="#" class="QCF2">&#128504;Quarto</a></p>
                    <p><a href="#" class="QCF2">&#128504;Café da Manhâ</a></p>
                    <p><a href="#" class="valor2">R$<b>899</b></a></p>
                    <p><a href="#" class="pagamento2">Em até 12x no cartão</a></P>
                </form>
            </div>
        </header>

        <header id="heading4">
            <div class="pacotes3">
                <form id="texts">
                    <h3><a href="#" class="grecia">Pacote de viagem<br> Grécia(Atenas)</a></h3>
                    <p><a href="#" class="diarias3" >&#8226;Passagem Aérea +<b>7</b> diárias</a></p>
                    <p><a href="#" class="diarias3" >&#8226;Viagem para <b>2023</a></p>
                </form>
            </div>
            <div class="informação">
                <form>
                    <p><a href="#" class="QCF3">&#128504;Quarto</a></p>
                    <p><a href="#" class="QCF3">&#128504;Café da Manhâ</a></p>
                    <p><a href="#" class="valor3">R$<b>2.100</b></a></p>
                    <p><a href="#" class="pagamento3">Em até 18x no cartão</a></P>
                </form>
            </div>
        </header>

        <header id="heading5">
            <div class="pacotes4">
                <form id="texts">
                    <h3><a href="#" class="dubai">Pacote de viagem dubai</a></h3>
                    <p><a href="#" class="diarias4" >&#8226;Passagem Aérea +<b>7</b> diárias</a></p>
                    <p><a href="#" class="diarias4" >&#8226;Viagem para <b>2023</a></p>
                </form>
            </div>
            <div class="informação">
                <form>
                    <p><a href="#" class="QCF4">&#128504;Quarto</a></p>
                    <p><a href="#" class="QCF4">&#128504;Café da Manhâ</a></p>
                    <p><a href="#" class="valor4">R$<b>2.300</b></a></p>
                    <p><a href="#" class="pagamento4">Em até 19x no cartão</a></P>
                </form>
            </div>
        </header>

        <header id="heading6">
            <div class="pacotes5">
                <form id="texts">
                    <h3><a href="#" class="Rio-De-Janeiro">Pacote de viagem Rio de Janeiro</a></h3>
                    <p><a href="#" class="diarias5" >&#8226;Passagem Aérea +<b>5</b> diárias</a></p>
                    <p><a href="#" class="diarias5" >&#8226;Viagem para <b>2023</a></p>
                </form>
            </div>
            <div class="informação">
                <form>
                    <p><a href="#" class="QCF5">&#128504;Quarto</a></p>
                    <p><a href="#" class="QCF5">&#128504;Café da Manhâ</a></p>
                    <p><a href="#" class="valor5">R$<b>699</b></a></p>
                    <p><a href="#" class="pagamento5">Em até 10x no cartão</a></P>
                </form>
            </div>
        </header>

        <header id="heading7">
            <div class="pacotes6">
                <form id="texts">
                    <h3><a href="#" class="Orlando">Pacote de viagem Orlando + Disney</a></h3>
                    <p><a href="#" class="diarias6" >&#8226;Passagem Aérea +<b>7</b> diárias</a></p>
                    <p><a href="#" class="diarias6" >&#8226;Viagem para <b>2023</a></p>
                </form>
            </div>
            <div class="informação">
                <form>
                    <p><a href="#" class="QCF6">&#128504;Quarto</a></p>
                    <p><a href="#" class="QCF6">&#128504;Café da Manhâ</a></p>
                    <p><a href="#" class="valor6">R$<b>2.000</b></a></p>
                    <p><a href="#" class="pagamento6">Em até 15x no cartão</a></P>
                </form>
            </div>
        </header>
        </div>
    </div>

    <h1 id="h2novo2">&#9992;Voos Nacionais e Internacionais com descontos</h1>

    <div id="emgloba">
        <div class="box">
            <div id="Voos">
                <header class="headingVoos">
                    <div class="content3-box">
                        <div class="VoosVendas">
                            <p class="dados1">Porto Seguro</p>
                            <p class="dados2">de<s> R$250 </s> por</p>
                            <p class="dados3"><b>R$180</b></p>
                        </div>
                        <div id="verMais">
                            <p class="containerMais"><a href="#" class="verMais2">VER MAIS</a></p>
                        </div>
                    </div>
                </header>      
            </div>         
        <div id="Voos">
            <header class="headingVoos">
                <div class="content4-box">
                    <div class="VoosVendas">
                        <p class="dados1">Foz do Iguaçu</p>
                        <p class="dados2">de<s> R$210 </s> por</p>
                        <p class="dados3"><b>R$150</b></p>
                    </div>
                    <div id="verMais2">
                        <p class="containerMais"><a href="#" class="verMais3">VER MAIS</a></p>
                    </div>
                </div>
            </header>    
        </div>    

        <div id="Voos">
            <header class="headingVoos">
                <div class="content5-box">
                    <div class="VoosVendas">
                        <p class="dados1">Fortaleza Beach Park</p>
                        <p class="dados2">de<s> R$330 </s> por</p>
                        <p class="dados3"><b>R$269</b></p>
                    </div>
                    <div id="verMais3">
                        <p class="containerMais"><a href="#" class="verMais4">VER MAIS</a></p>
                    </div>
                </div>
            </header>    
        </div>  

        <div id="Voos">
            <header class="headingVoos">
                <div class="content6-box">
                    <div class="VoosVendas">
                        <p class="dados1">México</p>
                        <p class="dados2">de<s> R$1100 </s> por</p>
                        <p class="dados3"><b>R$950</b></p>
                    </div>
                    <div id="verMais4">
                        <p class="containerMais"><a href="#" class="verMais5">VER MAIS</a></p>
                    </div>
                </div>
            </header>    
        </div>    

        <div id="Voos">
            <header class="headingVoos">
                <div class="content7-box">
                    <div class="VoosVendas">
                        <p class="dados1">Estados Unidos</p>
                        <p class="dados2">de<s> R$1250 </s> por</p>
                        <p class="dados3"><b>R$1000</b></p>
                    </div>
                    <div id="verMais5">
                        <p class="containerMais"><a href="#" class="verMais6">VER MAIS</a></p>
                    </div>
                </div>
            </header>    
        </div>  

        <div id="Voos">
            <header class="headingVoos">
                <div class="content8-box">
                    <div class="VoosVendas">
                        <p class="dados1">Porto Alegre</p>
                        <p class="dados2">de<s> R$399 </s> por</p>
                        <p class="dados3"><b>R$300</b></p>
                    </div>
                    <div id="verMais6">
                        <p class="containerMais"><a href="#" class="verMais7">VER MAIS</a></p>
                    </div>
                </div>
            </header>    
        </div>  

        <div id="Voos">
            <header class="headingVoos">
                <div class="content9-box">
                    <div class="VoosVendas">
                        <p class="dados1">Holanda</p>
                        <p class="dados2">de<s> R$1300 </s> por</p>
                        <p class="dados3"><b>R$1150</b></p>
                    </div>
                    <div id="verMais7">
                        <p class="containerMais"><a href="#" class="verMais8">VER MAIS</a></p>
                    </div>
                </div>
            </header>    
        </div>  

        <div id="Voos">
            <header class="headingVoos">
                <div class="content10-box">
                    <div class="VoosVendas">
                        <p class="dados1">França</p>
                        <p class="dados2">de<s> R$1700 </s> por</p>
                        <p class="dados3"><b>R$1600</b></p>
                    </div>
                    <div id="verMais8">
                        <p class="containerMais"><a href="#" class="verMais9">VER MAIS</a></p>
                    </div>
                </div>
            </header>    
        </div>  
        </div>    
    </div>  
</body>
</html>



